h1 {
    text-align: center;
    display: inline;
}

#wrapper {
    background-color: #d5d2ae;
    width: 810px;
    margin: 0 auto;
    padding: 22px;
    overflow: hidden;
    height: auto;
}

#header {
    width: 476px;
    padding: 15px 0;
    margin: 0 auto;
}

#header img {
    width: 100px;
    height: 50px;
    background-color: white;
    display: inline;
}

#main {
    margin-bottom: 10px;
}

.block img {
    width: 126px;
    height: 126px;
    display: inline-block;
    float: left;
    border: 3px solid black;
    margin: 2px;
    padding: 13px;
    background-color: #77b6ea;
}

.block:nth-child(even) img {
    background-color: #fc6471;
}
