#wrapper {
    width: 970px;
    margin: 0 auto 10px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #474747;
    font-size: 50px;
    font-weight: lighter;
    display: inline-block;
    margin-bottom: 0;
}
    h1 span {
        color: #26669c;
    }

h2 {
    font-size: 30px;
    font-weight: lighter;
    color: white;
    background: #3b78ab;
    background: -moz-linear-gradient(top,  #3b78ab 0%, #419eea 51%, #3876ab 100%);
    background: -webkit-linear-gradient(top,  #3b78ab 0%,#419eea 51%,#3876ab 100%);
    background: linear-gradient(to bottom,  #3b78ab 0%,#419eea 51%,#3876ab 100%);
    height: 35px;
    padding: 10px 20px;
    margin: 0;
}

h4 {
    color: #26669c;
    font-size: 20px;
    margin: 5px 0 0;
}

h5 {
    margin: 10px 0 0;
}

hr {
    margin: 25px 0;
}

header img {
    width: 100px;
    height: auto;
    position: relative;
    top: 32px;
}

#main {
    padding: 0 5px;
    background: -moz-linear-gradient(top,  rgba(229,229,229,0.65) 0%, rgba(255,255,255,0.6) 7%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top,  rgba(229,229,229,0.65) 0%,rgba(255,255,255,0.6) 7%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom,  rgba(229,229,229,0.65) 0%,rgba(255,255,255,0.6) 7%,rgba(255,255,255,0) 100%);
}

aside {
    padding-top: 25px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
    aside p {
        margin-top: 0;
        font-weight: bold;
        font-size: 14px;
    }
    aside p span {
        color: #26669c;
    }

    aside p:first-child span {
        color: red;
    }

.info {
    display: inline-block;
    width: 725px;
    margin: 0;
}

    .info a {
        color: #0297ad;
        text-decoration: none;
        font-weight: bold;
    }
    .info nav {
        border-bottom: 1px solid #9a9a9a;
        height: 75px;
        margin: 0;
    }
    .info nav a {
        display: inline-block;
        width: 200px;
        margin-top: 10px;
        vertical-align: top;
        color: #26669c;
    }
    .info nav a img {
        width: 20px;
        height: auto;
    }

.client-server {
    width: 285px;
    height: auto;
    display: block;
    margin: 15px auto;
}

.contact-info {
    width: 515px;
    color: #666666;
    font-size: 13px;
    display: inline-block;
    line-height: 0.02em;
    text-align: right;
    letter-spacing: -0.03em;
}
    .contact-info img {
        width: 45px;
        display: inline-block;

    }
    .contact-info div {
        display: inline-block;
    }
    .contact-info div p:first-child {
        margin-top: 10px;
    }

.phone-number {
    color: #00c0dd;
    font-size: 28px;
    font-weight: bold;
    margin: 22px 0;
}

.big3 {
    border: 4px solid #0087dd;
    border-bottom: none;
    box-shadow: 2px 0px 0px #ccc;
}
    .big3 img {
        width: 120px;
        display: inline-block;
        margin: 12px;
    }
    .big3 h4, .big3 p {

        margin: 5px 0 5px 0;
        padding: 0;
    }
    .big3 div {
        display: inline-block;
        width: 560px;
        height: 100px;
        padding: 0;
        margin: 8px 0;
        vertical-align: top;
    }

button {
    color: white;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    margin: 2px;
    padding: 7px;
    box-shadow: 2px 2px #999;
}

button:first-of-type {
    background: rgb(100,153,193);
    background: -moz-linear-gradient(top,  rgba(100,153,193,1) 0%, rgba(41,104,158,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(100,153,193,1) 0%,rgba(41,104,158,1) 100%);
    background: linear-gradient(to bottom,  rgba(100,153,193,1) 0%,rgba(41,104,158,1) 100%);
    border: none;
}

button:last-of-type {
    background: rgb(233,170,89);
    background: -moz-linear-gradient(top,  rgba(233,170,89,1) 0%, rgba(238,115,2,1) 100%);
    background: -webkit-linear-gradient(top,  rgba(233,170,89,1) 0%,rgba(238,115,2,1) 100%);
    background: linear-gradient(to bottom,  rgba(233,170,89,1) 0%,rgba(238,115,2,1) 100%);
    border: none;
}

.reinvent-ad {
    background: #014282 url("../images/ad_background.png") no-repeat center;
    color: white;
    font-size: 27px;
    line-height: 28px;
    padding: 10px 10px 40px;
    text-align: center;
}
    .reinvent-ad img {
        width: 90px;
        height: auto;
        display: block;
        margin: 0 auto 15px;
    }
    .reinvent-ad button {
        background: rgb(124,208,222);
        background: -moz-linear-gradient(top,  rgba(124,208,222,1) 0%, rgba(8,193,221,1) 100%);
        background: -webkit-linear-gradient(top,  rgba(124,208,222,1) 0%,rgba(8,193,221,1) 100%);
        background: linear-gradient(to bottom,  rgba(124,208,222,1) 0%,rgba(8,193,221,1) 100%);
        font-weight: bold;
        display: block;
        font-size: 15px;
        margin: 0 auto;
        width: 90%;
    }
